.header {
    margin-bottom: 30px;
}

.catalog {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.catalog-path {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 40px;
}

.catalog-path__item {
    text-decoration: none;
    color: #3D3D3D;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.catalog-path__line {   
    margin-right: 15px;
    padding-right: 15px;
    border-right: 2px solid #ccc;
}

.catalog-item-label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 100px;

    color: #3D3D3D;
    margin: 0;
    margin-bottom: 40px;
}

.container-categories {
    background: #F1F5F8;
    border-radius: 3px;

    padding: 20px 0;
    margin-bottom: 20px;
}

.container-categories:hover {
    cursor: pointer;
}

.main-categories-li:not(.main-categories-li:first-child) {
    display: none;
}

.container-categories .main-categories .main-categories-li:first-child {
    margin-bottom: 0;
}

.main-categories-container {
    display: none;
}

.container-categories.active .main-categories .main-categories-li:not(.main-categories-li:first-child) {
    display: block;
}

.container-categories.active .main-categories-container {
    display: block;
}

.container-categories.active .main-categories-li:first-child .main-categories-arrowbottom {
    transform: rotate(180deg);
}
 
.main-categories {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
} 

.main-categories__item {
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #3D3D3D;
}

.left-menu {
    min-width: 310px;
}

.main-categories__label {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}

.main-categories-arrowup {
    margin-right: 20px;
    width: 20px;
    height: 20px;

    align-self: center;
}

.main-categories-li {
    padding: 15px 0 15px 20px;    
}

.main-categories-li:first-child {
    margin-bottom: 5px;
    padding: 0 20px;
}

.main-categories-li:focus:not(.main-categories-li:first-child) {
    background-color: #193E6B;
}

.main-categories-li:hover:not(.main-categories-li:first-child) {
    cursor: pointer;
}

.main-categories-li:hover .main-categories__item {
    color: #193E6B;
}

.main-categories-li:focus .main-categories__item {
    color: #FFFFFF;
}

.main-categories-button {   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #3D3D3D;
}

.main-categories-container {
    max-width: 100%;
    padding: 10px 0;

    text-align: center;
    margin: 15px 20px 0 20px;

    background: #F3CD47;
    border-radius: 3px;
}

.catalog-pricerange {
    background: #F1F5F8;
    border-radius: 3px;

    padding: 20px 20px;
    margin-bottom: 20px;
}

.container-pricerange-label:hover {
    cursor: pointer;
}

.container-pricerange-label {
    display: flex;
    justify-content: space-between;
}

.catalog-pricerange.active .container-pricerange-label {
    margin-bottom: 20px;
}

.catalog-pricerange-arrowbottom {
    align-self: center;
} 

.catalog-pricerange.active .catalog-pricerange-arrowbottom {
    transform: rotate(180deg);
}

.catalog-pricerange-text {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: #3D3D3D;
    margin: 0;
}

.catalog-pricerange-text-tablet {
    display: none;

    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: #3D3D3D;
    margin: 0;
}

.container-pricerange-input {
    display: none;
}

.catalog-pricerange.active .container-pricerange-input {
    display: flex;
    justify-content: space-between;
}

.container-pricerange-input__item {
    max-width: 120px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
 
    color: #3D3D3D;

    padding: 9.5px 15px;
}

.catalog-color {
    background-color: #F1F5F8;

    padding: 20px 20px;
    margin-bottom: 20px;
}

.catalog-color {
    cursor: pointer;
}

.container-color-label {
    display: flex;
    justify-content: space-between;
}

.catalog-color.active .container-color-label {
    margin-bottom: 20px;
}

.catalog-color-label {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: #3D3D3D;

    margin: 0;
}

.catalog-color-checkboxes {
    display: none;
}

.catalog-color.active .catalog-color-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 30px;
    margin-top: 0;
    padding: 0;

    height: fit-content;
}

.catalog-color.active .catalog-color__arrowbottom {
    transform: rotate(180deg);
}

.catalog-color-checkboxes__item {
    list-style-type: none;
}

.catalog-color-checkboxes__item:hover {
    cursor: pointer;
}

div label:hover {
    cursor: pointer; 
}

.catalog-color-button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #3D3D3D;
}


.catalog-color-button-container {
    display: none;
}

.catalog-color.active .catalog-color-button-container {
    display: block;

    max-width: 100%;
    padding: 10px 0;

    text-align: center;

    background: #F3CD47;
    border-radius: 3px;
}

.brand {
    background: #F1F5F8;
    border-radius: 3px;

    padding: 20px 0px;
    height: fit-content;
}

.brand-label-container {
    display: flex;
    justify-content: space-between;

    cursor: pointer;
    padding: 0 20px;
}

.brand.active .brand-label-container {
    margin-bottom: 15px;
}

.brand-items {
    display: none;
}

.brand__arrowbottom {
    align-self: center;
}

.brand.active .brand__arrowbottom {
    transform: rotate(180deg);
}

.brand.active .brand-items {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.brand.active .brand-items__item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #3D3D3D;

    padding: 15px 20px;
}

.brand.active .brand-items__item:focus {
    color: white;
    background: #193E6B;
}

.brand-label {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: #3D3D3D;

    margin: 0;
}

.brand-button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #3D3D3D;
}

.brand-button-container {
    display: none;
}

.brand.active .brand-button-container {
    display: block;

    max-width: 100%;
    padding: 10px 0;
    
    text-align: center;

    background: #F3CD47;
    border-radius: 3px;

    margin: 15px 20px 0 20px;
}

.container-catalog-items {
    display: grid;

    grid-template-columns: repeat(3, 310px);
    gap: 20px;

    margin-bottom: 60px;
}

.catalog-items-button {
    max-width: 174px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #3D3D3D;

    margin: 0 auto;
    text-align: center;

    border: 1px solid #F3CD47;
    border-radius: 2px;

    padding: 22px 0;
}

.catalog-items-button:hover {
    background: #F9E6A3;
}

.brand-items__item:hover {
    color: #193E6B;
    cursor: pointer;
}

.catalog-color-button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #3D3D3D;
}

.sort-items {
    display: flex;
    gap: 10px;

    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-bottom: 21px;
}

.sort-items__arrowbottom {
    display: none;
    margin-left: 10px;
}

.sort-items__item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #8B8B8B;

    list-style-type: none;

    padding: 9px 15px 11px 15px;
    margin: 0;
}

.sort-items__width {
   padding-left: 0;
   padding-right: 0;
   white-space: nowrap;
}

.sort-items__item:focus {
    background: #F3CD47;;
}

.sort-items__item:hover {
    cursor: pointer;
}

.catalog-items-sorting__label {
    display: flex;
    gap: 10px;  
}

.catalog-items-padding:hover {
    box-shadow: 0 0 20px #6d9ebb;;
}

.sort-items__background {
    background: #F1F5F8;
    border-radius: 3px;
}

.container-menu-items {
    display: flex;
    gap: 20px;
}