* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Cormorant Garamond'; 
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1920px;
    height: 100%;

    position: relative;
    /* overflow: hidden; */
    /* background-color: #E5E5E5; */
}

.header {
    background-color: #193E6B;
    /* height: 220px; */

    display: flex;
    margin-bottom: 64px;
}

.nav-links-left {
    /* font-weight: 400;
    font-size: 16px;
    line-height: 30px;  */

    display: flex;
    list-style-type: none;
    padding-left: 0;
    align-items: center;
}

li a {
    color: #FFFF;
    margin-right: 20px;
    text-decoration: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 30px; 
    font-style: normal;
    padding: 0;
    background-color: #193E6B;

}

.li a:last-child {
    margin-right: 0px;
}

/* li img {
    padding: 23.8px 5.8px 21.8px 20.8px;
} */

/* .logo-nav {
    display: flex;
} */

.nav-main {
    width: 100%;
    /* justify-content: space-between; */
}

.logo-img {

    margin-top: 36px;
    /* width: 310px;
    height: 124px; */
    max-width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;

    justify-content: space-between;
}

.img-burger-menu {
    margin-left: 10px;
    display: none;
}

.nav-links-right {
    display: flex;

}

li img {
    position: relative;
    top: 3px;
    left: -4px;
}

.nav-links-right-list {
    display: flex;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    list-style-type: none;
    margin-top: 14px; 
    margin-bottom: 16px;

    padding: 0;
}

.nav-links-button {
    /* width: 200px;
    height: 50px; */
    background: #F3CD47;
    border-radius: 2px;

    text-align: center;

    margin: 5px 10px 5px 20px;
    padding: 0;

    border: none;

    /* flex-basis: 200px; */

}

.nav-links-button__label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin: 0;

    padding: 0px 69px 0px 69px;

}

.block-search {
    display: flex;
    justify-content: center;

    background-color: #FFFFFF;
}

.block-search__input {
    /* max-width: 504px; */
    flex-basis: 504px;
    height: 60px;

    background: #F1F5F8;
    border-radius: 2px;
    border: none;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #8B8B8B;

    padding-left: 7.5px;
    padding-right: 7.5px;
}

.block-search__categories {
    display: flex;
    /* flex-basis: 281px; */
    /* width: 281px; */
    height: 60px;

    background: #F1F5F8;
    border-radius: 2px;
    border: none;
    border-left: 1px solid #E5E5E5;

    
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 16px;
}

#search-categories {
    flex-basis: 110px;
    /* width: 110px; */
    height: 30px;
    margin-top: 14px;
    margin-bottom: 16px;
    margin-left: 60px;

    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #8B8B8B;

    border: none;
    background-color: #F1F5F8;
}

.block-search-glasssmall {
    display: none;

    align-items: center;
}

.block-search__glass {
    width: 46px;
    height: 60px;

    background: #193E6B;
    border-radius: 2px;

    margin-left: 64px;

    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center 22px;

    border: none;
}

.block-search-sum::before {
    content: url(../images/shopping-bag.svg);
}

.block-search-sum {
    /* flex-basis: 120px; */

    margin-top: 37px;
    margin-left: 32px;
    line-height: 30px;
    /* margin-right: 310px; */

    font-family: 'Gill Sans Nova'
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.nav-bottom__menu::before {
    content: url(../images/menu.svg);
    position: relative;
    top: 3px;
    left: -3px;
}

.nav-bottom {
    display: flex;
    align-items: stretch;
    /* justify-content: space-between; */
    width: 100%;
    /* position: relative;
    top: 12px;  */
    margin: 0;
} 

.nav-bottom__menu {
    text-decoration: none;
    display: flex;

    /* width: 108px; */
    flex-basis: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    color: #3D3D3D;
    /* flex-grow: 1; */
    justify-content: center;
    align-items: center;

    /* padding: 19.5px 36px 23.5px 37px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    background-color: #F3CD47;

}

.nav-bottom-list {
    display: flex;
    list-style-type: none;
    padding-left: 27px;
}

.main {
    background-color: #FFFFFF;
    margin-bottom: 100px;
}

.img-container-main {
    max-width: 1300px;
    
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;

    position: relative;
}

.img-main-label {
    position: absolute;
    top: 166px;
    left: 222px;

    font-family: 'Amatic SC';    
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 111px;

    color: #FFFFFF; 
}

.img-main-button {
    position: absolute;
    top: 317px;
    left: 220px;

    background: #F3CD47;
    border-radius: 2px;

    padding: 0 106.5px;
    border: none;
}

.img-main-button-label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

}

.img-main-tablet {
    display: none;
}

.img-main-phone {
    display: none;
}

.left-arrow {
    width: 12px;
    height: 24px;

    position: absolute;
    top: 263px;
    left: 38px;
}

.right-arrow {
    width: 12px;
    height: 24px;

    position: absolute;
    top: 263px;
    right: 38px;
}

.slider-container {
    text-align: center;
    margin-bottom: 100px;
}

.slider-container__input {
    margin: 0 0 0 10px;
    width: 10px;
    height: 10px; 
}

.slider-container__input:first-child {
    width: 10px;
    height: 10px;
    margin: 0;
}

.main-search {
    display: flex;
    /* flex-direction: column; */

    background: #F1F5F8;

    padding-top: 100px; 
}

.main-search-label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #3D3D3D;

    margin: 0;

    position: relative;
}

.main-search-label:after {
    display: block;
	position: absolute;

    left: 0;
    width: 0;
    height: 6px;
    background-color: chocolate;

    content: "";
	transition: width 0.3s ease-out;
}

.main-search-label:hover:after, .main-search-label:focus:after {
    width: 100%;
}

.container-label {
    display: flex;
    gap: 40px;
    
    margin: auto;
    flex-basis: 1300px;
    
    justify-content: flex-start;

    padding-bottom: 40px;
    background-color: #F1F5F8;
}

div a {
    text-decoration: none;
}

.main-search-container {
    margin: 0 auto;
    padding-bottom: 100px;

    background-color: #F1F5F8; 
}

.main-search-items {
    display: grid;

    column-gap: 20px;
    row-gap: 40px;


    grid-template-columns: repeat(4, 310px);
    justify-content: center;
}

.img-main-items {
    width: 188px;
    height: 179px;

    display: block;
    margin: 60px 61px 61px 61px;
}

.img-main-item__label {
    background-color: #F1F5F8;
    padding: 15px 0 0 0;
    margin: 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #3D3D3D;

    text-align: center;
}

.item-1 {
    background-color: #FFFFFF;
}


.item-2 {
    background-color: #FFFFFF;
}

.item-3 {
    background-color: #FFFFFF;
}

.item-4 {
    background-color: #FFFFFF;
}

.item-5 {
    background-color: #FFFFFF;
}

.item-6 {
    background-color: #FFFFFF;
}

.item-7 {
    background-color: #FFFFFF;
}

.item-8 {
    background-color: #FFFFFF;
}
.item-9 {
    background-color: #FFFFFF;
}

.item-10 {
    background-color: #FFFFFF;
}
.item-11 {
    background-color: #FFFFFF;
}

.item-12 {
    background-color: #FFFFFF;
}

.item-13 {
    background-color: #FFFFFF;
}

.item-14 {
    background-color: #FFFFFF;

}.item-15 {
    background-color: #FFFFFF;
}

.item-16 {
    background-color: #FFFFFF;
}

.main-search-items__button {
    display: none;
    max-width: 174px;

    font-family: 'Gill Sans Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 58px;

   
    border: 1px solid #F3CD47;
    border-radius: 3px;

    text-align: center;
    margin: 0 auto;
    color: #3D3D3D;

    margin-top: 40px;
}


.main-articles {
    /* display: flex; */

    padding-top: 100px;
    background-color: #FFFFFF;
}

.container-articles-labels {
    display: flex;

    max-width:  1300px;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

.main-articles-label {
    margin: 0;

    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #3D3D3D;
}


.article-left-arrow {
    width: 5px;
    height: 10px;
}

.article-right-arrow {
    width: 5px;
    height: 10px;
}

.container-articles-arrow {
    display: flex;
    flex-basis: 45px;
    
    justify-content: space-between;

    position: relative;
    left: -10px;
}

.catalogue-articles {
    display: flex;

    max-width: 1300px;
    justify-content: space-between;
    margin: 0 auto;

    margin-bottom: 40px;
}


.article-label {
    font-family: 'Gill Sans Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    color: #3D3D3D;

    margin: 15px 0 5px 0;
}

.article-text {
    font-family: 'Gill Sans Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #8B8B8B;
    margin: 0;
}

.article-slider-container {
    text-align: center;
    margin-bottom: 40px;
    
}

.article-view-all__label {

    font-family: 'Gill Sans Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #3D3D3D;
    margin: 0;

    border: 1px solid #F3CD47;
    border-radius: 3px;
    max-width: 210px;

    margin: 0 auto;
    text-align: center;

    padding: 16px 35px 16px 35px;
}

.footer {
    /* display: flex; */
    background-color: #193E6B;

    padding-bottom: 40px;
}

.footer-main {
    display: flex;
    max-width:  1300px;
    margin: 0 auto;

    justify-content: space-between;
}

.footer-logo-address {
    max-width: 235px;
    /* margin: 0 auto; */
}

.footer-logo {
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer-logo-smallscreen {
    display: none;
}

.footer-address-text {
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #FFFFFF;
    margin-bottom: 10px;
}

.img-external-links {
    margin-left: 10px;
}

.img-external-links:first-child {
    margin-left: 0;
}

.footer-catalogue-label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    margin: 80px 0px 20px 0px;
}

.footer-catalogue {
    max-width: 235px;
}

.footer-catalogue__item__label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;

    opacity: 0.8;
    margin: 0;
}

.container-catalog-item {
    display: flex;
    gap: 31px;
}

.container-left-column, .container-right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-help-label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    margin-top: 80px;
    margin-bottom: 20px;
}

.footer-help-item__label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    
    color: #FFFFFF;

    opacity: 0.8;
    margin: 0;
}

.container-help-item {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.footer-other {
    display: flex;
    flex-direction: column;

    gap: 15px;
    margin-top: 80px;
}

.footer-other-item__label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    margin: 0;
}


.protection-rights__label {
    text-align: center;
    background-color: #F3CD47;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;

    color: #3D3D3D;
    margin: 0;

}








