* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Cormorant Garamond'; 
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1920px;
    height: 100%;

    position: relative;
}

.header {
    background-color: #193E6B;

    display: flex;
    margin-bottom: 64px;
}

.nav-links-left {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    align-items: center;
}

.href-style {
    color: #FFFF;
    margin-right: 20px;
    text-decoration: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 30px; 
    font-style: normal;
    padding: 0;
    background-color: #193E6B;

}

/* .li a:last-child {
    margin-right: 0px;
} */

.nav-main {
    width: 100%;
}

.logo-img {
    margin-top: 36px;
    max-width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;

    justify-content: space-between;
}

.img-burger-menu {
    margin-left: 10px;
    display: none;
}

.nav-links-right {
    display: flex;

}

li img {
    position: relative;
    top: 3px;
    left: -4px;
}

.nav-links-right-list {
    display: flex;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    list-style-type: none;
    margin-top: 14px; 
    margin-bottom: 16px;

    padding: 0;
}

.href-style:hover {
    color: #F3CD47;
}

.nav-links-button {
    background: #F3CD47;
    border-radius: 2px;

    text-align: center;

    margin: 5px 10px 5px 20px;
    padding: 0;

    border: none;
}

.nav-links-button__label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin: 0;
    padding: 0px 69px 0px 69px;

    color: #3D3D3D;
}

.nav-links-button:hover {
    background-color: #F9E6A3;
}



.block-search {
    display: flex;
    justify-content: center;

    background-color: #FFFFFF;
}

.block-search__input {
    flex-basis: 504px;
    height: 60px;

    background: #F1F5F8;
    border-radius: 2px;
    border: none;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #8B8B8B;

    padding-left: 7.5px;
    padding-right: 7.5px;
}

.block-search__categories {
    display: flex;
    height: 60px;

    background: #F1F5F8;
    border-radius: 2px;
    border: none;
    border-left: 1px solid #E5E5E5;

    
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 16px;
}

#search-categories {
    flex-basis: 110px;
    height: 30px;
    margin-top: 14px;
    margin-bottom: 16px;
    margin-left: 60px;

    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #8B8B8B;

    border: none;
    background-color: #F1F5F8;
}

.block-search-glasssmall {
    display: none;

    align-items: center;
}

.block-search__glass {
    width: 46px;
    height: 60px;

    background: #193E6B;
    border-radius: 2px;

    margin-left: 64px;

    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center 22px;

    border: none;
}

.block-search-sum::before {
    content: url(../images/shopping-bag.svg);
}

.block-search-sum {
    margin-top: 37px;
    margin-left: 32px;
    margin-right: 20px;
    line-height: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.nav-bottom__menu::before {
    content: url(../images/menu.svg);
    position: relative;
    top: 3px;
    left: -3px;
}

.nav-bottom {
    display: flex;
    align-items: stretch;
    width: 100%;

    margin: 0;
} 

.nav-bottom__menu {
    text-decoration: none;
    display: flex;

    flex-basis: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    color: #3D3D3D;
    justify-content: center;
    align-items: center;
    background-color: #F3CD47;
}

.nav-bottom-list {
    display: flex;
    list-style-type: none;
    padding-left: 27px;
}

.nav-bottom-list:hover {
    color: #F3CD47;
}

.main {
    background-color: #FFFFFF;
    margin-bottom: 100px;
}


.img-main-button-label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.swiper-object {
    max-width: 1300px;
    height: 700px;

    margin: 0 auto;

}

.swiper {
    max-width: 1300px;
    height: 550px;
}

.swiper .swiper-slide {
    background-image: url('../images/drawing-water.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;

    justify-content: center;
}


.swiper-object .swiper-pagination {
    position: relative;
    top: 40px;
}

.swiper-object .swiper-pagination-bullet, .swiper-object-articles .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #F3CD47;
}

.swiper-label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 111px;

    color: #FFFFFF;

    margin: 0;
    margin-bottom: 40px;
}

.swiper-button {
    max-width: 310px;

    font-family: 'Gill Sans Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 70px;

    color: #3D3D3D;

    background: #F3CD47;
    border-radius: 2px;

    text-align: center;

    margin: 0;
}

.swiper-label-button {
    position: relative;
    left: -85px; 
}

.swiper-object .swiper-button-prev::after {
    content: '';
    width: 12px;
    height: 24px;
    background-image: url('../images/left-arrow.svg');
    background-position: center;
}

.swiper-object .swiper-button-next::after {
    content: '';
    width: 12px;
    height: 24px;
    background-image: url('../images/right-arrow.svg');
    background-position: center;
}

.swiper-object-articles {
    max-width: 1300px;
    margin: 0 auto;

    position: relative;
}

.swiper-articles {
    overflow: hidden;
}

.swiper-object-articles .swiper-pagination {
    position: relative;
}

.swiper-object-articles .swiper-button-next {
    position:absolute;
    top: -65px;
    left: 1270px;
}

.swiper-object-articles .swiper-button-prev {
    position:absolute;
    top: -65px;
    left: 1230px;
}

.swiper-object-articles .swiper-button-prev::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../images/arrow-articles-left.svg');
    background-position: center;
}

.swiper-object-articles .swiper-button-next::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../images/arrow-articles-right.svg');
    background-position: center;
}
    
.main-search {
    display: flex;
    background: #F1F5F8;

    padding-top: 100px; 
}

.main-search-label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #3D3D3D;

    margin: 0;
}

.main-search-href:focus {
    text-decoration: underline;
    text-decoration-color: #F3CD47;

    text-decoration-thickness: 6px;
    text-decoration-skip: none;
}

.main-search-label:hover {
    color: #F3CD47;
}

.container-label {
    display: flex;
    gap: 40px;
    
    margin: 0 auto;
    flex-basis: 1300px;
    
    justify-content: flex-start;

    padding-bottom: 40px;
    background-color: #F1F5F8;
}

div a {
    text-decoration: none;
}

.main-search-container {
    margin: 0 auto;
    padding-bottom: 100px;

    background-color: #F1F5F8; 
}

.main-search-items {
    display: grid;

    column-gap: 20px;
    row-gap: 40px;


    grid-template-columns: repeat(4, 310px);
    justify-content: center;
}

.img-main-items {
    display: block;
    padding: 60px 61px 61px 61px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
}

.img-main-items:hover {
    box-shadow: 0 0 20px #6d9ebb;
}


.img-main-item__label {
    margin: 0; 
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #3D3D3D;

    text-align: center;
}

.main-search-items__button {
    display: none;
    max-width: 174px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 58px;

   
    border: 1px solid #F3CD47;
    border-radius: 3px;

    text-align: center;
    margin: 0 auto;
    color: #3D3D3D;

    margin-top: 40px;
}

.main-search-items__button:hover {
    background: #F9E6A3;
}


.main-articles {
    /* display: flex; */
    position: relative;
    padding-top: 100px;
    background-color: #FFFFFF;
}

.container-articles-labels {
    display: flex;

    max-width:  1300px;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

.main-articles-label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #3D3D3D;

    max-width: 1300px;
    margin: 0px auto 40px auto;
}

.catalogue-articles {
    display: flex;

    max-width: 1300px;
    justify-content: space-between;
    margin: 0 auto;

    margin-bottom: 40px;
    position: relative;
}

.article-label {
    font-family: 'Gill Sans Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    color: #3D3D3D;

    margin: 15px 0 5px 0;
}

.article-text {
    font-family: 'Gill Sans Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #8B8B8B;
    margin: 0;
}

.article-slider-container {
    text-align: center;
    margin-bottom: 40px;
    
}

.article-view-all__label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #3D3D3D;

    border: 1px solid #F3CD47;
    border-radius: 3px;
    max-width: 210px;

    margin: 40px auto 0px auto;
    text-align: center;

    padding: 16px 35px 16px 35px;
}

.article-view-all__label:hover {
    background-color: #F9E6A3;;
}

.footer {
    background-color: #193E6B;

    padding-bottom: 40px;
}

.footer-main {
    display: flex;
    max-width:  1300px;
    margin: 0 auto;

    justify-content: space-between;
}

.footer-logo-address {
    max-width: 235px;
    /* margin: 0 auto; */
}

.footer-logo {
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer-logo-smallscreen {
    display: none;
}

.footer-address-text {
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #FFFFFF;
    margin-bottom: 10px;
}

.img-external-links {
    margin-left: 10px;
}

.img-external-links:first-child {
    margin-left: 0;
}

.footer-catalogue-label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    margin: 80px 0px 20px 0px;
}

.footer-catalogue {
    max-width: 235px;
}

.footer-catalogue__item__label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;

    opacity: 0.8;
    margin: 0;
}

.container-catalog-item {
    display: flex;
    gap: 31px;
}

.container-left-column, .container-right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-help-label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    margin-top: 80px;
    margin-bottom: 20px;
}

.footer-help-item__label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    
    color: #FFFFFF;

    opacity: 0.8;
    margin: 0;
}

.container-help-item {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.footer-other {
    display: flex;
    flex-direction: column;

    gap: 15px;
    margin-top: 80px;
}

.footer-other-item__label {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    margin: 0;
}


.protection-rights__label {
    text-align: center;
    background-color: #F3CD47;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;

    color: #3D3D3D;
    margin: 0;

}








